@charset "UTF-8";

h1 {
    background-color: rgb(62, 241, 107);
    height: 200px;
    width: 300px;

    border: 5px solid rgb(25, 131, 29);

    margin: auto;

    padding: 6px;

}

a {
    background-color: darkgray;

    border: 3px groove darkmagenta;

    padding: 2px;
}